.button {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-botton: 0.25rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
  user-select: none; // 드래그 방지
  display: inline-flex;

  // default: 파란색 버튼
  &.default {
    background: #228be6;
    &:hover {
      background: #339af0;
    }
    &:active {
      background: #228be6;
    }
  }

  // gray: 회색 버튼
  &.gray {
    background: #495057;
    &:hover {
      background: #868e96;
    }
    &:active {
      background: #495057;
    }
  }

  // outline: 흰색 테두리 버튼
  &.outline {
    border: 2px solid white;
    border-radius: 2px;
    &:hover {
      background: white;
      color: #228be6;
    }
    &:active {
      background: rgba(255, 255, 255, 0.85);
      border: 2px solid rgba(255,255,255,0.85);
    }
  }

  // 비활성화된 버튼
  &.disabled {
    background: #ced4da;
    color: #868e96;
    cursor: default;
    &:hover, &:active {
      box-shadow: none;
      background: #ced4da;
    }
  }

  // 버튼 두 개 이상이 함께 있다면 중간 여백
  & + & {
    margin-left: 0.5rem;
  }
}